@font-face {
    font-family: Karwad;
    src: url(/assets/Fonts/Mj_Karwad_0.ttf);
}
body{ 
    font-family: Karwad;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Class Based Styles */
.mt_1{
    margin-top: 0.5rem !important;
}
.mt_2{
    margin-top: 1rem;
}
.mt_3{
    margin-top: 2rem ;
}
.mt_5{
    margin-top: 4rem;
}

.text_green{
    color: green;
}
.text_yellow{
    color: #FFC107;
}
.p_relative{
    position: relative;
}
.p_absolute{
    position: absolute;
}
.d_flex{
    display: flex;
}
.rounded_1{
    border-radius: 0.5rem;
}
.rounded_2{
    border-radius: 1rem;
}
.w_100{
    width: 100%;
}

.w_80{
    width: 80%;
}
.w_70{
    width: 70%;
}
.w_60{
    width: 60%;
}
.w_50{
    width: 50%;
}
.w_40{
    width: 40%;
}
.w_35{
    width: 35%;
}
.w_33{
    width: 33%;
}
.w_30{
    width: 30%;
}
.w_25{
    width: 25%;
}
.w_15{
    width: 15%;
}
.p_h_center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #0A490A;
}
.border_green{
    border: 2px solid #0A490A;
}
.border_white{
    border: 2px solid #fff;
}
.p_1{
    padding: 0.5rem;
}
.p_2{
    padding: 1rem;
}
.p_3{
    padding: 1.5rem;
}
.text_center{
    text-align: center;
}
.text_justify{
    text-align: justify;
}
.text_white{
    color: white;
}
.top_1{
    top: 0.5rem;
}
.left_0{
    left: 0 !important;
}
.left_1{
    left:0.5rem
}
.left_2{
    left:1rem;
}
.right_0{
    right: 0 !important;
}
.right_1{
    right: 0.5rem;
}
.right_2{
    right: 1rem;
}
.align_items_center{
    align-items: center;
}
.justify_content_space{
    justify-content: space-between;
}
.justify_content_around{
    justify-content: space-around;
}
.justify_content_center{
    justify-content: center;
}
.flex_direction_column{
    flex-direction: column;
}
.align_items_stretch{
    align-items: stretch;
}
.list_style_none{
    list-style: none;
}
.gap_1{
    gap: 0.5rem;
}
.gap_2{
    gap:1rem;
}
.gap_3{
    gap: 2rem;
}
.gap_4{
    gap: 3rem;
}
.text_1{
    font-size: 1rem
}
.text_2{
    font-size: 1.5rem;
}
.text_3{
    font-size: 2rem;
}
.text_4{
    font-size: 2.5rem;
}
.text_bold{
    font-weight: bolder;
}
.pointer{
    cursor: pointer;
}
.bg_yellow{
    background-color: #FFC107;
}
.bg_transparent{
    background-color: transparent;
}
.bg_green{
    background-color: #0A490A;
}
.bg_white{
    background-color: white;
}
.bg_orange{
    background-color: orange;
}
.bg_pink{
    background-color: pink;
}
.vertical_align{
  vertical-align: baseline; /* یا middle / bottom */
}
.click:focus{
    color: aqua;
}
.left_m1{
    position: absolute;
    left: 1rem;    
}
.right_m1{
    position: absolute;
    right: 9.2rem;
}
.card_image{
    top: -2rem;
    right: -2rem;
}
.navbar{
    background-color: #0A490A;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    padding: 1.5rem;
}
.menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.searchBox{
    height: 2rem;
    position: relative;
    display: flex;
}
.searchBox img{
    position: absolute;
    top: 3px;
    left: 5px;
    height: 70%;
}
.searchBox select , .searchBox input{
    height: 100%;
    background-color: transparent;
    color: inherit;
    padding-inline: 1rem;
    border: 1px solid white;
}
.searchBox select option{
    color: black;
}
.operation{
    display: flex;
    gap:1.5rem;    
}
.iconBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 0.5rem;
}
.iconBox img{
    transform: scale(0.6);
}

/* Mobile Menu Style */
.mobileSection{
    width: 0;
    color: white;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #0A490A;
    transition: all 500ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
}
.mobileSection:target{
    width: 80%;
    padding: 1.5rem;
    opacity: 100;
}
.banner{
    position: relative;
    background-color: #FFC107;
    padding: 3rem 5rem;
    color: #0A490A;
}
.badge{
    background-color: #B4C8B1;
    padding: 0.3rem 1rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
}
.title{
    font-size: 5rem;
}
.about{
    width: 68%;
    font-size: 2rem;
}
.btnBanner{
    font-size: 1rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #FFC107;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: green;
    cursor: pointer;
}
.discount{
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    margin: auto;
    text-align: center;
    width: 6rem;
}
.w_100{
    width: 100%;
}
strong{
    font-family: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}
.fruitsBanner{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
}
.fruitsBanner img{
    width: 95%;
    margin-left: 1.5rem;
}
/* Product Introduction Styles */
.titleIntroduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.titleIntroduction h3{
    font-size: 2rem;
    color: #0A490A;
}
.productItem{
    position: relative;
    width: 20%;
    border-radius: 1rem;
    overflow: hidden;
    color: white;
}
.productImg{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.productInformation{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0.5rem;
    z-index: 1;
}
.productInformation h4{
    color: #FFC107;
}
.productInformation p{
    font-size: 0.7rem;
}
.productInformation img , .productBtn img{
    width: 0.5rem;
}
.productInformation button , .productBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC107;
    gap: 1.5rem;
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: #0A490A;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}
.productsSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.productCover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 97%;
    transition: all 2s;
}
.productItem:hover .productCover{
    background-color: rgba(0, 0, 0, 0.1);
}

/* Main Banner Style  */
.mainBannerBoxLeft , .mainBannerBoxRight{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 7rem 1rem 2rem 1rem;
    background-blend-mode: overlay;
}
.mainBannerBoxLeft{
    background: url(/assets/Image/16.png) center/cover no-repeat , rgba(0, 0, 0, 0.464);
}
.mainBannerBoxRight{
    background: url(/assets/Image/17.png) center/cover no-repeat , rgba(0, 0, 0, 0.464);
}

/* Opinions and Comments Style */
.p_inline_1{
    padding-inline: 0.5rem;
}
.p_inline_2{
    padding-inline: 1rem;
}
.p_inline_3{
    padding-inline: 1.5rem;
}
.arrowIcon{
    width: 1rem;
    background-color: #0A490A;
}

/* Scroll to Top Button Styles*/
.topScroll{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    color: #0A490A;
    opacity: 30%;
    transition: all 1s;
    outline: 2px solid #003500;
    outline-offset: 2px;
    font-size: 1.5rem;
}
.topScroll:hover{
    opacity: 100%;
    box-shadow: 0 0 1rem #003500;
    background-color: aqua;
    color: white;
}

/* Blog and Article Style */
.cardImg{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.line_height_1{
    line-height: 1rem;
}
.line_height_2{
    line-height: 2rem;
}
button{
    cursor: pointer;
    transition: all 500ms;
}
button:hover{
    transform: scale(1.1);
}
li{
    cursor: pointer;
}

/* Footer Style */
.footerBackgroundBox{
    height: 20prem;
    width: 100%;
    position: absolute;
    top: -20rem;
    background-color: #490a44;
    z-index: -1;
}
.emailBox{
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.d_desktop_none{
    display: none !important;
}

/* Media Query */
@media(max-width : 768px){
    .d_flex{
        flex-wrap: wrap;
    }

    .w_15{
        width: 40%;
    }
    .w_25{
        width: 100%;
    }
    .w_33{
        width: 100%;
    }
    .w_50{
        width: 100%;
    }
    .title{
        font-size: 2rem;
    }
    .banner{
        padding: 3rem 2rem;
    }
    .discount{
        left: 70vw !important;
    }
    .searchBox{
        width: 80%;
    }
    .searchBox select , .searchBox input{
        width: 50%;
    }
    .mainBannerBoxLeft , .mainBannerBoxRight{
        width: 100%;
    }
    .productItem{
        width: 100%;
    }
    .d_mobile_none{
        display: none !important;
    }
    .d_desktop_none{
        display: block !important;
    }
}
